*.vscode
saved_models/*
build.log
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
.DS_Store
/data/*
tmp/*
:w
*token*
.ipython/
c
.Rhistory
Icon
results/*
*.sif
*.db
*.pickle
*.RData
*checkpoint.*py*
*/.ipynb_checkpoints/*
*checkpoint*
*.pyc
.bash_history
.cache/
.jupyter/
.local/
.npm/
.viminfo
.cmdstanr/
env.list

Icon
.Rproj.user/
.dotnet/
.ssh/
.julia/logs/
/data_analysis/workshop/*.html
generate_experimental_sequences/THINGS/
generate_experimental_sequences/pilot7_stims/
generate_experimental_sequences/pilot7_stims_OLD/
generate_experimental_sequences/trial1_stimuli/
*.zip
.gitconfig
.vscode-server/
