[user]
	email = haoyang.lu@ucl.ac.uk
	name = Haoyang Lu
[core]
	excludesfile = /Users/luhaoyang/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/luhaoyang/.stCommitMsg
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/384ff7382de624fb94dbaf6da11977bba1ecd427/node /tmp/vscode-remote-containers-6fb4bfad-cf31-46e5-a4bb-0a677e9a824c.js git-credential-helper $*; }; f"
